---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

  h2{
    color: red;
    font-family: "Iceberg", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  ul{
    font-family: "Iceberg", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(79, 79, 79)
  }

  ol{
    font-family: "Iceberg", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(79, 79, 79)
  }

  p{
    font-family: "Iceberg", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(79, 79, 79)
  }

